In [1]:
import pandas as pd

In [38]:
url = 'https://raw.githubusercontent.com/natorjunior/pandas/main/Aula-02/dados_atividade_01.csv'
df = pd.read_csv(url,sep=',',index_col=0)
df

          0    1  abc    3    4    5    6    7    8    9   10   11
0       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
linha3  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0
3       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
5       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
6       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
8       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
9       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
10      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
11      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

- disponibilizado no link abaixo e somar os elementos da terceira linha

In [17]:
df.loc['linha3'].sum()

24.0

In [18]:
df.iloc[2].sum()

24.0

- somar os elementos acima da diagonal principal

In [39]:
soma = 0
for i in range(len(df)):
    soma += df.iloc[i,i+1:].sum()
soma

75.0

acima da diagonal principal e secundaria

In [161]:
soma = 0
for i in range(12):
    soma += df.iloc[i,i+1:(11-i)].sum()
soma

36.0

In [122]:
df.loc[df['cpf'] ==2123213123]

          0    1  abc    3    4    5    6    7    8    9   10   11
linha3  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0

In [141]:
df['10']['linha3'] = 50

/var/folders/n_/tjml2sm112qd96z8c3cnw6r00000gn/T/ipykernel_13303/1724698916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['10']['linha3'] = 50

In [145]:
url = 'https://raw.githubusercontent.com/natorjunior/pandas/main/Aula-02/dados_atividade_01.csv'
df = pd.read_csv(url,sep=',',index_col=0)
df.loc['linha3'].sum()

24.0

In [155]:
df2 = df.iloc[:5]

In [160]:
df2.shape

(5, 11)