In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'calorias': [200, 350, 550],
    'gordura (%)': [0, 6, 15]
})
df

   calorias  gordura (%)
0       200            0
1       350            6
2       550           15

In [8]:
df = pd.DataFrame({
    'calorias': [200, 350, 550],
    'gordura (%)': [0, 6, 15]
},
    index=['banana', 'prato feito', 'big mac']
)
df['gordura (%)']

banana          0
prato feito     6
big mac        15
Name: gordura (%), dtype: int64

In [10]:
dados = [('Ana', 21), ('Bruno', 20), ('Carla', 22)] 
df = pd.DataFrame(data = dados)
print(df)
print(df[0][0], df[0][1], df[0][2]) # Ana Bruno Carla

       0   1
0    Ana  21
1  Bruno  20
2  Carla  22
Ana Bruno Carla

In [14]:
df = pd.DataFrame({
    'calorias':[200, 350, 550,12,13,14], 
    'gordura (%)':[0, 6, 15,17,18,  9]
})
df[1:2]

   calorias  gordura (%)
1       350            6

In [17]:
display(df)
#podemos chamar uma linha pelo seu índice
print(df.loc[5])
#ou com um array de índices
print(df.loc[[0,1,2]]) 

# uma fatia, do quarto ao sétimo elemento 
#(note que diferente do python puro, neste método 
#a chave inicial e final estarão presente no resultado)
df.loc[4:8]

   calorias  gordura (%)
0       200            0
1       350            6
2       550           15
3        12           17
4        13           18
5        14            9

calorias       14
gordura (%)     9
Name: 5, dtype: int64
   calorias  gordura (%)
0       200            0
1       350            6
2       550           15

   calorias  gordura (%)
4        13           18
5        14            9

In [19]:
#busca simples
df.loc[(df['calorias']) >= 200]
#busca composta
df.loc[(df['calorias'] >= 10)&(df['calorias'] <= 350)]

   calorias  gordura (%)
0       200            0
1       350            6
3        12           17
4        13           18
5        14            9

In [20]:
#Redefinindo valores.
df.loc[(df['calorias']) >= 200,'calorias'] = 210

In [21]:
df

   calorias  gordura (%)
0       210            0
1       210            6
2       210           15
3        12           17
4        13           18
5        14            9

In [24]:
# Linhas:
print(df.iloc[0])  # Selecionado a primeira linha do dataset
df.iloc[-1] # Selecionando a última linha

calorias       210
gordura (%)      0
Name: 0, dtype: int64

calorias       14
gordura (%)     9
Name: 5, dtype: int64

In [25]:
# Colunas:
# Todos os dados da primeira coluna do dataset
print(df.iloc[:,0])
# Do primeiro ao quinto dado da última coluna
df.iloc[0:5,-1]

0    210
1    210
2    210
3     12
4     13
5     14
Name: calorias, dtype: int64

0     0
1     6
2    15
3    17
4    18
Name: gordura (%), dtype: int64

In [30]:
df.iloc[0:2]

   calorias  gordura (%)
0       210            0
1       210            6