In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d)
ser

a    1
b    2
c    3
dtype: int64

In [3]:
d = [4,6,3,7]
ser = pd.Series(data=d)

In [4]:
serie = pd.Series([42, 99, -1])
serie

0    42
1    99
2    -1
dtype: int64

In [5]:
serie2 = pd.Series(['hello', 2.3, True])
serie2

0    hello
1      2.3
2     True
dtype: object

In [9]:
serie = pd.Series(
    [200, 350, 550],
    index=['banana', 'prato feito', 'big mac']
)
serie['banana']

200

In [10]:
serie = pd.Series(
[200, 350, 550],
index=[(0, 0), (0, 1), (0, 2)]
)
serie[(0,1)]

350

- Determine a média e variância das notas finais de 12 alunos de uma aula de Química. As notas são apresentadas na tabela abaixo e faça um programa que imprima o resultado das operações

In [11]:
s = pd.Series(data=[8.0, 9.1, 7.5, 7.4, 7.6, 7.8, 8.0, 9.3, 7.0, 7.0, 7.2, 7.5])
s.mean(), s.std()

(7.783333333333334, 0.7408021860037123)